.footer {
    min-height: 201px;
    background-color: #25333c;
    width: 100%;
    padding-bottom: 40px;
    &__content {
        display: flex;
        align-items: center;
        padding-top: 25px;
        &__logo {
            margin-right: 43px;
            img{
                width: 68px;
                height: 71px;
            }
        }
        &__title {
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;
            margin-right: 280px;
        }
        &__vopros {
            display: grid;
            grid-template-columns: 165px;
            grid-template-rows: 20px 20px;
            justify-items: end;
            align-items: center;
            margin-right: 35px;
        }
        &__line {
            width: 1135px;
            opacity: 0.3;
            display: block;
            margin: 0 auto;
            margin-top: 25px;
        }
        &__niz {
            display: flex;
            align-items: center;
            margin-top: 30px;
            &__sait {
                opacity: 0.6;
                font-size: 13px;
                font-weight: 300;
                color: #ffffff;
                margin-right: 223px;
            }
            &__politika {
                opacity: 0.6;
                font-size: 13px;
                color:#ffffff;
                margin-right: 456px;
                a { 
                    color: #ffffff;
                }
                a:hover {
                    color: #ec644b;
                }
            
            }
            &__cozdanie {
                opacity: 0.6;
                font-size: 13px;
                font-weight: 300;
                color: #ffffff;
                margin-right: 15px;
            }
            &__foto {
                img{
                    opacity: 0.6;
                }
            }
        }
       
    }
}